body, html {
    margin: 0;
    height: 100%;
    font-family: 'Work Sans', sans-serif;


}

* {
   /*transition: all 0.4s;*/
   font-family: 'Work Sans', sans-serif;

}

/* PRE GAME STYLES */
#greetings{
  height: 100%;
  background-color: white;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  transition: all 0.8s;
}

#greetings h1 {
  font-size: 30px;
  margin-bottom: 8px;
  font-weight: 200;
  font-family: 'Work Sans', sans-serif;

}

#greetings p {
  font-family: 'Work Sans', sans-serif;
  margin-top: 0px;

}

.button {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
	border-radius: 5px;
}

.button:hover{
  background:#e0e0e0;
}
/* GAME STYLES  */

#game {
  height: 100%;
  background-image: url("../img/bgimg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction:column;

}

#panel-sm{
  background-color: rgba(0,0,0,0.7);
  /* min-width: 100px; */
  flex-grow: 1;
  display: flex;
  flex-direction: row;

  align-items: center;
  padding: 5px;


}


#panel-lg{
  background-color: rgba(0,0,0,0.5);
  flex-grow: 11;
  display:flex;
  flex-direction: column;
  align-items:center;

}

#hang-man-img{
  width: 300px;
  margin-top: 50px;
}


.btn-row{
  display: flex;

}

.alpha-btn{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
}
.btn-div{
  box-sizing: border-box;
  width: 50px;
  height: 40px;
  margin: 2px;
  /* display: flex;
  flex-direction: column; */
}

#guessed-cont{
  /* border: 3px solid  rgba(255,255,255, 0.5); */
    width: 116px;
    padding: 5px;
    margin: 10px;
    max-width: 565px;
    height: 45px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    overflow-wrap: anywhere;
}

#btn-container{
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 300ms cubic-bezier(0.335, 0.01, 0.03, 1.36);
  transition: all 300ms cubic-bezier(0.335, 0.01, 0.03, 1.3);
}

 #btn-container.is-visible{
  margin: 20px;
  display: block;
  opacity: 1;
  visibility: visible;
}

#dashed-word{

  color:white;
  font-size: 20px;
  margin: 10px;
  font-weight: 400;

}

#win-lose-text{
  font-size: 24px;
  padding:20px;
  font-weight: 100;
  color: white;
  position: fixed;
  top: 70%;
  text-align: center;
   opacity: 0;
   visibility: hidden;
  transition: 4s ease-in forwards;

}


/* *********************** MOBILE ****************************** */
@media screen and (max-width: 600px) {

#game{

}

#panel-sm{
  flex-direction: row;
}

#hang-man-img{
   width: 195px;
  margin-top: 20%;

}

.btn-div{
  width: 30px;
  height: 30px;
}

}

/* Galaxy Fold */
@media only screen
   and (max-width : 280px)
   and (max-height : 653px) {

.btn-row{
  flex-wrap: wrap;
}

#greetings{
  text-align: center;
}
}

/* IPhone 5/SE */
@media only screen
   and (max-width : 320px)
   and (max-height : 568px) {

  .btn-div{
    height:40px;
    margin:0;
  }


}
